@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  font-family: "Catamaran";
}

.ql-editor {
  font-size: 1.05rem;
}

.ql-editor p {
  margin-bottom: 15px;
}

.ql-editor blockquote {
  margin-bottom: 15px;
}

.post-content p {
  margin-bottom: 15px;
}

.post-content blockquote {
  margin-bottom: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.post-content a {
  color: blue;
}

.post-content a:hover {
  opacity: 80%;
  text-decoration: underline;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}
